html, body {
	height: 100%;
 	 margin: 0;
  	background:url("background39.png");
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: 'Open Sans';
	font-size: 16px;

}

.container {
	max-width: 2000px;
	margin: 0px auto;
}

/* ОБЛОЖКА */

.wrapper {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
	padding: 0px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 0px;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

/* КОНТЕЙНЕР */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 2000px;
}

/* МЕДИА ЗАПРОС НА АДАПТИВ СТРАНИЦЫ */

@media	(max-width: 1200px){
	.content{
		max-width: 970px;
	}

}

@media	(max-width: 992px){
	.content{
		max-width: 767px;
	}
}

@media	(max-width: 767px){
	.content{
		max-width: none;
	}
}
/* ВЕРХНИЙ РАЗДЕЛ НАВИГАЦИИ */



.preheader {
	padding: 5px;
    background-color: #3f425f;
	width: 100%;
	margin: 0 0 10 0;
	display: flex;
	opacity: 100%;
}

.logo {
	margin-left: 3%;
	margin-right: auto;
	display: flex;
	justify-content: center;
}
.link {
	margin-right: 3%;
	margin-left: auto;
}
.preheader p{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;

}


/* ЗАГОЛОВОК С КАРТИНОЙ */

.header {
	height: 1024px;
	width: 100%;
  	background-repeat: no-repeat;
  	background-position: 50% 0%;
  	background-attachment: fixed;
  	background-size: auto;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color: #FFF;
  	background-image: url("first.jpg");
}

@media	(max-width: 767px){
	.header{
		background-size: 300%;
		background-repeat: repeat-y;
	}
}

.header p{
  background-color: rgba(0,0,0,0.4);
  border-radius: 0px;
  padding: 10px .5em;
  font-size: 100px;
  margin: auto;
  border: 3px solid white;
  text-align: center;
}

/* БЛОК ЗНАКОМСТВА С ФОТО */

.obomne {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10% 0 10% 0;
	background-color: rgba(0,0,0,0.1);

}

@media	(max-width: 1200px){
	.obomne{
		flex-direction: column;
		align-items: center;
	}
}

.picture {
	flex: 0 0 400px;
}

.text {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	padding: 0 20px 0 20px;

}

@media	(max-width: 1200px){
	.text {
		width: 80%;
	}
}
.picture img{
	max-width: 100%;
}

.text p, h1 {
	font-size: 50px;
	padding: 5px;
	margin: 0;
}

/* БЛОК ГАЛЕРЕИ */
.columns {
	max-width: 1400px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;

}

.columns__column {
	flex: 0 0 50%;
}

.item__row {
	display: flex;
	flex-direction: column;
	margin: 10px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 2%;
	padding: 15px;

}

.item__image {
	display: flex;
	flex: 0 0 100%;
	overflow: hidden;
	justify-content: center;
	padding: 10px 0 10px 0;
}

.item__body {
	flex: 1 1 auto;
	padding: 0;
	text-align: center;
}


.item__title {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 13px;
}

.text2{
font-size: 25px;
}

.footer {
	flex-shrink: 0;
	padding: 20px;
	background-color: #3f425f;
	width: 100%;
}
